* {
  margin: 0px;
  padding: 0px;
}
.mobileBk {
  display: none;
}
.protfolioComponent {
  border-top: 1px solid yellow;
  border-color: yellow;
  border-radius: 5px;
  border-width: 1px;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgb(19, 17, 17), rgb(34, 32, 32), black);
}
.ProgectTitel,
.technologiestitle {
  margin: 20px;
  text-transform: capitalize;
  font-weight: bolder;
  font-style: oblique;
  color: rgb(214, 211, 211);
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 1px 3px yellow;
  letter-spacing: 2px;
  /* animation-name: union; */
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  text-align: center;
}
.technologiestitle {
  width: 100vw;
  text-align: center;
}
@keyframes union {
  0% {
    letter-spacing: 20px;
  }
  100% {
    letter-spacing: 2px;
  }
}

.protfolioResume {
  font-weight: bolder;
  font-size: 1.5;
  color: whitesmoke;
  width: 60%;
  height: auto;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
  box-shadow: 2px 2px 3px whitesmoke;
}

.SkillComponent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: row;
  color: white;
  box-shadow: 2px 2px 5px white;
  border-radius: 20px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  z-index: 1;
  border: 2px solid green;
}
.skilInfo > p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-size: 1em;
  font-weight: bolder;
  font-family: sans-serif;
  width: 60%;
  height: 90%;
}
.skilInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 36vh;
  z-index: 2;
}
.skillImage {
  width: 100%;
  position: absolute;
  height: 100%;
  border-radius: 15px;
  box-shadow: 2px 2px 5px white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}
.skillImage:hover {
  opacity: 1.5;
}
.SkillTitle {
  color: yellow;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-style: oblique;
  text-shadow: 2px 2px 2px yellow;
  text-transform: capitalize;
}
.skilInfo > p {
  font-size: normal;
  text-transform: capitalize;
  text-shadow: 2px 2px 4px black;
}
.mySkills {
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border-radius: 10px;
  width: 95vw;
}
.SkillComponent > button {
  color: white;
  box-shadow: 2px 2px 4px yellow;
  color: black;
  font-weight: bolder;
  z-index: 2;
  font-size: larger;
  border-radius: 15px;
  align-self: flex-end;

  padding: 5px 20px;
}
@media all and (max-width: 600px) {
  .protfolioResume {
    font-size: 20px;
    width: 100%;
    margin: 15px;
    padding: 10px;
    box-shadow: 2px 2px 3px whitesmoke;
  }

  .SkillComponent {
    margin: 5vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
    color: white;
    width: 90vw;
    min-height: 60vh;
    box-shadow: 2px 2px 5px white;
    border-radius: 10px;
    padding: 10px;
  }
  .skilInfo > p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    margin-top: 50px;
    height: fit-content;
    font-size: 1.2em;
    font-weight: bolder;
    font-family: sans-serif;
    z-index: 2;
    text-shadow: 2px 2px 3px black;
    text-transform: capitalize;
    width: 60%;
    height: 90%;
  }
  .skilInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-transform: capitalize;
    height: 100%;
  }
  .skillImage {
    z-index: -1;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 15px;
    box-shadow: 2px 2px 5px white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
  }
  .SkillTitle {
    color: yellow;
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 2px 2px 2px yellow;
    text-transform: capitalize;
    z-index: 2;
    text-shadow: 2px 2px 3px black;
  }
  .SkillComponent > p {
    font-size: large;
    text-transform: capitalize;
  }
  .mySkills {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
  }
}
