.natigationComponent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: fit-content;
  padding: 5px;
  position: fixed;
  top: 0px;
  left: 5px;
  background-color: rgb(19, 17, 17);
  z-index: 3;
}
@media screen and (max-width: 500px) {
  .desktop {
    display: none;
    position: absolute;
  }
}
