.ContactForm {
  width: 100vw;
  height: fit-content;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  justify-content: space-around;
  flex-direction: column;
}
.Forms {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  flex-direction: row;
}
.ContactMedea {
  width: 40%;
  height: 65%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  border-top: 3px solid yellow;
  border-bottom: 3px solid yellow;
  border-left: 1px solid yellow;
  border-right: 1px solid yellow;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-around;
  flex-direction: column;
}

.instruction {
  color: wheat;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  margin: 20px;
}
a {
  text-decoration: none;
  color: white;
}
.medeaList {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.medeaList > li,
.medeaList > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 5px yellow;
  margin-top: 15px;
  cursor: pointer;
}

.medeaList > li > a:hover,
.medeaList > li > a:hover {
  color: yellow;
  text-shadow: 2px 2px 5px yellow;
}
.medeaList > li > a {
  width: 50%;
}
.medeaList > li > a > span {
  margin-right: 15px;
}
.Form {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 50vw;
  height: fit-content;
  box-shadow: 2px 2px 3px white, -2px -2px 3px wheat;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
}
.Form > button {
  width: 400px;
  color: black;
  background-color: wheat;
  border-radius: 15px;
  font-size: larger;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}
.Form > button:hover {
  background-color: black;
  color: yellow;
  box-shadow: 0 3px 10px yellow;
  border-color: yellow;
}
.ContactForm > h3 {
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  margin-top: 100px;
  margin-bottom: 30px;
  text-shadow: 0px 3px 0px #b2a98f;
  font-weight: bold;
}
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.notRequired {
  color: rgb(10, 230, 10);
  font-weight: bolder;
}
.required {
  color: rgb(226, 21, 21);
  font-weight: bolder;
}
.imageComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  position: relative;
}
.line {
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
  margin: 0px;
  z-index: 0;
  position: absolute;
  left: 0px;
}
.myImgContactMe {
  border-radius: 50%;
  border: 2px solid white;
  z-index: 1;
  background-color: #03a9f4;
  width: 70px;
  height: 70px;
  background-size: cover;
}
@media all and (max-width: 500px) {
  .Forms {
    flex-direction: column;
  }
  .contact-form {
    width: 90vw;
    padding-bottom: 50px;
    margin-bottom: 20px;
  }
  .ContactMedea {
    margin: 20px 0px;
    width: 90%;
    font-size: 16px;
  }
  .Form {
    width: 100vw;
  }
  .Form > button {
    width: 250px;
  }

  .textField {
    width: 250px;
  }
  .inputContainer > span {
    width: 50px;
  }
}
.content {
  position: relative;
  border: 2px solid red;
}

.content h2 {
  color: #fff;
  font-size: 2em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}
.demo {
  width: 90vw;
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
  background: -webkit-linear-gradient(
    rgb(255, 145, 0),
    rgb(255, 230, 0),
    rgb(227, 228, 161)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: changeGradient 2s infinite; */
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
