.weatherBk {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  background: #9cecfb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9cecfb,
    #65c7f7,
    #0052d4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
}
