* {
  margin: 0px;
  padding: 0px;
}

.homeComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(19, 17, 17);
}
.titel > span {
  color: yellow;
  text-shadow: 2px 2px 5px yellowgreen;
  font-family: serif;
  font-variant: initial;
}
.titel {
  color: white;
  font-family: serif;
  font-weight: bolder;
  font-style: oblique;
  text-transform: capitalize;
  text-shadow: 2px 2px 5px white;
  font-size: 2em;
  text-align: center;
  word-spacing: 5px;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  margin-top: 0px;
}
.Page {
  width: 100vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: row;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
  color: white;
  word-spacing: 2px;
  margin: 20px 20px;
}
.dropDown {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  height: 10vh;
  position: fixed;
  top: 10px;
  right: 10px;
}
.aboutme {
  width: 80%;
  height: 100%;
  font-size: 1.1em;
  position: relative;
  font-family: cursive;
  font-weight: bolder;
  text-transform: capitalize;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  word-spacing: 2px;
  margin: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.myImg {
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxAQEBUQEBIVFRUXGBAVFhUVFRcXFhAVFRYXFhgWFRcYHiggGBolGxUVITEiJSkrLi4uFx8zODMsNygtLisBCgoKDg0OGxAQGi0mHyUvLS0tLS0rLS0vLS0tLS0tLS0tLS0tLS0rLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAJABXgMBIgACEQEDEQH/xAAcAAEAAgMBAQEAAAAAAAAAAAAABgcBBAUDAgj/xABMEAABAwICBgUHCAUMAgMBAAABAAIDBBEFIQYSMUFRYQcTInGBMlJikaGxsiNCcoKSwcLRFDRTc6IVFiUzNUNUg5Oj0uGz8ERj4hf/xAAbAQEAAgMBAQAAAAAAAAAAAAAAAwQCBQYBB//EADcRAAEDAgIHBwMDAwUAAAAAAAEAAgMEESExBRJBUWFxkRMyobHB0fAGIoEUQuEz0vEVI1Nikv/aAAwDAQACEQMRAD8AvFERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERF5SyBoLnEADMk5ADmoXjemDjdlN2R+0IzPcDs7yp4KeSZ1mD2Cq1VbDTN1pDyG08gpdWV0UIvK9re85nuG0riVGmdK3Juu/mG2H8RHuVfyvc8lznFxO0kkk+JXytvHomMd8k+H8rm5vqCYn/baAOOJ9lN/59M3QO+3/wBL2h04gPlMe3u1SPeoCsKc6MpzsPVVm6crB+4f+QrWoMbp58o5BfzT2Xeo7V0wqWXdwbSeens1xMjPNccwPRd+apTaKIxiN+B91s6X6gBNp224j1Cs1FoYXicVSzXidfiD5TTwIW8FqC0tNiMV0THteA5puDtWURF4skRFgoiyvGoqGRt15HNY0bS4gAeJUN0n07jgJip7SSC4c85sjPDLyj7Pcq8r8YknfrzPL3czs+iNg8ArkNG5+LjYeKlZTyv7rVadbpxRR5Nc+Q+g3L1usD4LQf0hx/Np3nve0e66rTr3bmu8ASsGaTzH/ZP5K4KWnaNp/KvRaJmdiSrPi6QYT5cMg7i13vIXXotK6KXIShp4Sdn2nL2qljPL5j/suXm+aTe0jvDlg6khOWH5WxZoHWFi6y/RDTfML6VE4JpVVUhHVvJZvY65Ye4fN8FamjOlMFa2zezKBd0RIvzLfOH/AKVSmpnx45ha+u0RPSjWIu3eNnMbPLipEiIq61aIiIiIii+lemMFANT+smIuIwfJvsMh+aPaVk1pcbNC8JAzUle8AXJAA2k5AKN4lp1h0BIM3WOG6IF/8Q7PtVSY5pJVVpvPIdXdG3KNv1d/eblclX46Ha89FEZdytWbpVpx5FPK76TmN9xK+IulaG/apZB9F7T77KrFi6m/SRbvFY9o5XXh/SJh8uTnviP/ANjLD7TbgeJUopamOVofG9r2nY5pDgfEL823W5heKz0r+sp5XRnfY5O+k05O8Qon0Lf2FZCU7V+jUUE0R6QI6kthqrRSmwa4ZRyngL+S7kfA7lO1QfG5hs4KUEHJERFgvUREREREREXm94AJJsBmSdgC9FEdOMU1WCnYc3Zv5DcPE+7mpYYTK8MCr1VS2nidK7Z4nYFxNJ8eNS7UYSImnIftCN7vuC4CyvWWFzQ0uaQHDWBPzhe1wupjjZE0Mbkvn800lQ8yPxO3huHAbAvEoiFTKFFhZXZwbRqapGvkxm5zh5X0W71HJKyMazzYKaGCSZ+pGLlcVFNH6CC2U5vzZl71HsTwOop3hpYXX8ktBId6sweShirIZTZrsenmrM+jamFus9mHCx8itfDa+SnkEkZsRtG5w4OHBWfhOJMqYxIzuI3tdvBVZ1WETQxiSVuoHGwa7a7eTq7gOfELd0UxT9HnAcew+wdwB3O8D7CVVrYG1DDJHiRu222cVe0ZVyUkoilwa62B2XyPC+3hjsVnIsBZXPrsUVZ9IumRYXUdM7PZJI3aCcurYRv4nw4qUac47+hUjntPyj7xx8nEG7vqgE99hvVZ9GuGCqrxJJ2hEDKb56zrgNvf0jrfVVqBjQDI7Iea2dDStMbqmXut2bz88eSkmiPR+Cxs9de5ALYASA0busO2/ojIb77pVJiWGUXyYfTxEfMYG6w72sF/WuD0oaSPp2NpoXFr5AXPcPKZHcgBvAuN8+DSqmAO8r2zpvueVfotGSVze1ldZpyA+YeKvI6e4Z/iQe6OU/gT+f2Gf4j/AG5f+Co8BfWqeBXhgj4raD6Zpjtd1H9qu7+fuG/4j/bl/wCK9G6bYaf/AJDfrNkHvaqPsRtC6WAYPJWTNhjsCb3J2MaNp5/9rwxMXkv03RxtL3PcAMSbj+1W/Jh+G17DqiGT0oy0Pb3ub2h4qv8ASPRybDZGzwOd1esCHC4dG7cHWFs+Ow7O/wC8c0YnwrUqoZy4AgF1iHMJ2XFyHA2srAwmrjxKhu8D5RpZIPNeMjbxzHgsWSGPI3C1rJXUAbNDJ2kDjqkHyscsMt+RC19DdJG10VnWErLa43OG57RwPDcfBSdUPQ1UtBWaw8qN72uGwOs4tLTyI+4q7qGqZNGyVhu17WuB5EXXkzA03GRVXTWjm0sgfF3HYjhw5bR02LaRFp4pXMp4XzyHssaXHnbYBzJsPFQ54BaZR3TzSwUMfVxWM7wdUbRE3Z1jh7hvPIFUtNK57i97i5ziS5xNy4naSTtWzi+IyVUz55Tdzzfk0bmjkBYLTW7p4BE223aqznElfSwUWHFTLFdPAMBnr5eqgAysXvd5MbeLjx22A2+siyKHoso2tHXSSyu32IY3waMx4uK6vRxhjafD4iB2pR1rjvOvm0eDdUKRV1ZHBG6WVwYxou5x2ALUzVLy4hpsOCnawAYqJnozw3cJR3Sn77qq9JcPZTVk1PGXFrHBrdY3NtUHOwF9qtd3SThl8pJDzET/ALwqp0nro6itnniJLHuBaSLG2q0Zg7NisUvbax175bVg/VtguYVZ/RxpkXltFVOu7ZDITm639287zwO/ZttesLo1xBBBIIIIIyIIzBB4qzLEJG6pWDXFuS/TSKPaFY7+nUjZT/WN7Eg9Nu+3Agg+KkK0jmlpIKtA3REReIiIiIsKp8WrOunkl84m3IDIewBWXjEmrTyOG0MdbvsqnW50TH3n8h6rl/qOYjs49mJ9B6rDvyVo1GEwz07I3DINbquG1uWRaqvKsfRqseYxBM1zJGADMEa7RsLTsOW1S6UDg1j2nIn0x/Hqq+gCwvkjeMHADLDbgeezlvULxfAZ6UnWGszdIBl9bge9cm6uci4sVxK7Reklz1NQ8WHV/h2exRwaV2Sj8j29lZqvp83vA7Dcff36qCYFQioqI4j5JN3fRAufXa3irVYwAAAWAyAG4KPYVos2mmErZNYAOGqWjO44g/cpIqdfUNmeNQ4AeO1bHRFE+micJBZxPPDZ69UWCsrCorbhQXTARNJMsjpJiLMjHZbE3iQM795zPIKIrYxF+tO9173c83+sV4Lq6WLsowL3+bAvntdOJ5nO1bDEc+JJxJ/wrT0brOupo3nbax7xcX8bX8V1VEuj2a8UjODg77Qt+FSxc3UxiOZzRv8A5XbUEplpmPOdseYwPiqY6WcUMtaIAezC0C3pOs559WoPBdXoWjzqXcoR8R/JQbSWcy1s8nGWW3cHuA9gCn3QvsqO+L8akkdaLVC7qrhEWi9Ubm+LgT4rh9Kj74g70Y4m/wAJd+IqJAqUdJ39pSd0X/jatTQfChVVrI3C7Bd7hxa3O3idUeKibJZq21E9sFAyR2Qbc9LqQ6HaBde1s9WS1hsWxjIvHEn5rTw2nkpv/J2FUoDHspY/3pj1j4vzK0OkPSR1HCGRZSya1nfs2NtrOHPMAePBU4+ZziXOc4k5lznEkniScyVHcuWmp6Wq0qDNNIWsv9oHz8XOZuruq9GsNrGazGR57JIC0WPG7eyfEFQSqoKjBaps7LPjOs0O2B7Ttjf5rsr+F+IUZwfF5qWUSRPIItcXNi3zXD5wVztMWKYfe1hKw8+rkGWX0XD2LzEYJMyfRjg2VxkgdgQdnnY7RY422FV1pbps6tiELYtRlw49q5eRsGwWA2+pSzonlvSSN4S3+0xv/FVPNHquLTuLr8iDYq0eiI/ITfTZ8JWbgNXBXdMUsVPo0shFm3B3+JxKhWm7dXEJwPPJ+0A771POi3EuspnwuNzG64+g/wD/AEHetQfT/wDtGb6Tfgauv0T1BFW5m50b/WHMI9l1M43iWVdF22iGk5hrHdAPQlW0q66X8SLYYqZp/rHF7vostYHvcb/VViqlulWo18RLfMjiZ67v/GF5SN1pRfZiuBkNmqHWWbIsrclVlhfDiupo7RMnq4YZL6j3ta6xsbHgdytQ9GWG+bL/AKrlXlqGRkB11mGE5KQaN/qVN+5g+BqjvS24/wAnW4yxA8x2j7wFLqOmbFGyJl9VjWsbfM2aLC58FqY9gsNbF1M+tq6zXdk6puL2z8VqWPDZA45XurBGFl+dwFlXN/8AzPDuEv8AqH8lUWKxsZUSsjvqNkla25udVry0XO/ILbRTtkuG3VcsIzWqlkRTrFTjomxMxVjoCezM02Hpx3cP4df2K41+dtGanqq2nkG6WL1OcGn2Er9ErVVrbPB3hTxHBERFTUiIiIi5mkP6rL9H71Vytqvh14ns85rh6wqlW90QbscOI+eC5P6jae0jPAjxHuvkqztHMSbUU7TftNADxvBG/uO1Vmupozf9IaGzGIuBAcACHHg4HIg5+KsV8AliuTYtx91R0PVugnsBcOwIwHLPBWgi8oQ4NAeQTvIFgfC5XquaXdIiIiItTEKkQxPkPzQT3kDIetbSh2nuJgNbTNOZsX8gPJHic/BTU8RlkDPltqq1lQKeB0h2Zczl4qEDmsoi61fPFM+jof15/dfjU0UY0Ag1adzz855t3NFvfrKTrl643qH/ADILvNFM1aOMcL9SSvzbibLTPB2h7x7SrG6GPJqO+L8ai+luGmOuqB6b3Duk7Y+L2KXdEUer+kj9yfiVAzXOqvpOk5Gv0aSNoYfFqjHScP6Sk7ov/GFu9EcgFa9p2ujlA8HRn3e5Z6Qqe+IvPow/CFyMLe6mnjnj8prgbecNjmnvBIUP6loOqVMxvb6MEIzLABzth5KQ9MMDhNA/5pYQOTmOJPsePUq9V8YjSU2K0YF7tdZzXDyo3gcOIuQR3qs8S6Pa+J1o2NlbucwtsRzBsQfX3qwHW5KDQuk4WwCnlOq5tx92G0nM4XxsRmomrr6NInNw6PWFrukcL+bewPsv4qIaO9HNQ94dV2iYNrQ4GR3IACzRzvdS7TTG4qCk6qOzXlvVxMH9222qHW3AAZc7L291BpqsZWalJTHWcTckZDPb4k5C3SpsblDqmZzdhklI7i5xCsboh/qZ/ps+Eqqb3JKtXogHyE59Nnw/9rM5LYaeGro4t3ao6KH9IH9pTd7fgat/ou/X2/Ql9w/Nc7T4/wBIz97fgau/0R0utPLLuazV8XuB9zCpL/YV7UPDND3P/G0dQArVVG9JI/pOfn1J/wBpg+5Xkqe6XKXUrWS7pIm+LmOIPsLFLRG0v4K+dSd1QhFm6wtsq66mi9QyKtp5JHBrGyNLnHY0Z5lXL/PLDf8AFxfaVDWXy5qrTUzZSCSpGvsv0rBM17WvYQWuAc0jY4EXBC8MSxGGmZ1k8jY2XDdZxsLnYPYvHRv9Tp/3MHwNUb6Wh/R3+bF+JapjNZ4bxU5OF11TpnhtiRVxb/nbVQxeXEuO0kk95zKAIttDTiK9jmoHOulksl0VhYLZwxpM8QH7SL4wv0ivz9oXSGbEKdlv7xrz3R9s/Cv0CtbXn7gFNFkiIioKVERERFWGk9B1FS4W7LjrN7nbfUbqz1wtKcJ/SYeyPlG31eY3t8feArlDUCGXHI4FavS9Gamns3vNxHqOniq2S/8A7wXpG4NcC5usBtBJz5XGYKk+FDCpCNZrmO4SPfbwcDY+K6CabshctJ5W91x1LS/qDqh7Qf8AsSPQj8XuvTANKZnWifEZTuLcn25g5eNwpozMAkW5cOWS16GGFrbQhgb6FrH1bVtrmaiSN77sbq/PBd3RwyxR6sr9c77fCeZRYK1aqvhiF5JGN7yL+A2lRjFdNWAFtM2588iwHc3afGyQ08spsxvt1SorIKcXkcBwzPTNdrHsaZSMubF58hm8nieDQqzqJ3SPdI83c43J4lKid8ji+Rxc47Sdp/LuXkuhpKRtO3eTmfQcPNcdpHSLqt+5oyHqePksrLGFxDWi5JAA4k5ALCleg+D6z/0l47LbhnpHYXdw9/cpqiYQxl5+HYq1JTOqZhE3bnwG0qY4XSCGFkQ+aLHmdpPrJW2gWVyZJJuV9Da0NAaMhgq+6SML7TKkDJw6t/Ii5afEXHgF8dGbtWWZnnMa4fVNj8QU3xKiZUROhfscNvmnaCO42KryiZJQ1QLhmwkOA+ew5G3IjMdwWrqXdjK2Q90ldBSTfqKJ1N+4DDiL3Hjh0Xp0gU5bWB52PjZY8wSD+H1rgdUrRxjDYq2FtnZ+VG8Z2J48jvH5KHT6OVMZsYy4cWdoH1Z+sKrVse1+s0Eg7sfJXNHV8ZhbG42c3DHD5uXJwvEJ6R2tC61/Kac2v7x94zUlh6QbD5WA34sfkfBwy9a4z8Km/ZSfYd+S1pcLm/ZSfYd+SjhqpWYC/RWZYKSoOtIATvvY+BHiunivSLMWkU8IafOe7WI7gABfxVeYhUyyvc+Z5c521zjn/wBDkFI58Ln/AGMn+m/8lzqjBap2TaaYk8IZPyWyhqXPP3LYUMVJTf0w0bzfHqT5LhuVv9E1OW0TnnZJKS3m0MaPi1vUofgXR9WTPBmaYWXF3PtrEegzj328VYeP4lBhdEAywIb1cTL5uda1zvIG0n7yrwN1rdO1zKhraSA6znEXtiOV+fQYqqdMJusr53DZ1jh6iWfhVo9HWGGno2ucLOlPWnkC0Bo9Qv8AWVc6EYAa6pu8Hq2EPkcfn9q+rfi4+y/JXg1Zk7FX0/VNjiZRMPdtf8CwHr0WVCulLCevo+taLugOv/lnJ/4XfVU1XnIwOBa4XBBBB2EHIgox5Y4OGxcoRcWX5rWF3tMdH3UFSY7HqnXdE7i3zSeLdnqO9cFb5pDgHDIqqRZZRyXRy9RfoXRz9Tp/3MHwNUd6Wv7O/wA2L8SkWjf6lT/uYPgao50tn+jv82L8S0kP9ZvNWXd1U6FhYBRbpVkRYutvC6CWpmZBCLvebDg0b3O4NAzK9JtiV7dT3ohwkl8tY4ZNHVM5k2Lz4DVHiVaa5+CYZHSU8dPH5LBa+9x2uceZNz4roLRzSdo8u+WVhosLIiIolkiIiIixZZREUQ0q0bMhM8A7W1zB870m8+W/3wchXNZcTGtHoam7raknngbe8b/etrR6R7MakmW/d7+fNc9pLQvauMsGDjmNh4jcfA8FWrSRsJHdkvt1TIdrie8ldPENG6qHawvb5zO0PEbR6lxzwW7Y9kou0grmJI5YDqyAt8P46LFllYRSYlQXAWUW5Q4VPOfkoy4cbWH2jkpZhGhrWEPqCHnzW3sPpO2u9niqs1ZFD3jjuGfzmthS6OqKk/Y3DecB/P4XD0b0efVEPfdsQOZ3v9EfmrGgiaxoawANAsANgAX0xgAsBYDIAZADkvRc9U1Tp3XOWwLsaGgjpGWbiTmd/sBuRERVleRcrGsIbUNvseNh48jyXVRYSRtkaWOGBWbHuY4OabEKF0b56VxaNl82O2d44d4Xaix1tu0xwPKxH3LpVNKyQWcO47x3Lkz4S5vk9oe31LTOgqqXCI6zepH49uivGaGc3kFj0Wz/AC5D6X2V8nH4B532SuXJBbIi3evGSEKD/U6gYYdD7rMUsB39R7LrP0mpxtL/ALBWrLppSN3SHuZ+ZXHnpwue7C3ym0bC48hl69gU0ekZnG2HRWo6ClOLr9QPRbGM9JjYwRBAb7nTEBo56rSSfWFEqGircYqdZ5JA8p7gQ2JvAAZdzRt38VMKHo/13a1S7VG3UYe0eRdsHhfvCm9DQxQMEcLGsYNjWiw7zxPMrcRFxF3DFTO0hR0LSKNl3n9xxt1z5AW33XjguExUkLYYhYDaTte7e53MrooilXOuc5zi5xuTtRERFiuTpDgsVdAYZRza4eVG7c5v5bwqPx/Ap6GXqpm8dR48iUcWn3jaF+hlpYnhsNTGYp2B7DuO48QdoPMKzBUGLDMLB7A5fnRCFYOP9GkzCX0busb+zeQ2Qcg7yXeNvFQivoJoDqzRvjPptLb9xOR8FtI5WSd0+6gLSM1P8L6TYIYIoTTyksZGwkOZYlrQLi55Ll6Z6cxV9N1DIZGHXY+7i0izQcsjzUKsllGKWNrtYDHmstc5L5si9YIXyO1I2ue7zWNLj6hmpfgfR1WTkOntTs9LtSEcmDZ9Yi3AqV8jWYuNliGk5KJUFFLPI2KFhe92xo954AcSrq0J0UZQR3dZ07wNd4GTRt1Gejz3nwA6OAaO01CzUgZmbaz3Zvk+kfuFhyXYWsqKkyfa3LzU7WWzRERVFmiIiIiIiIiIiIiIiIsWWvPSRyeWxru8A+9bKIhFxYrm/wAhUn7FnqXrDhkDM2RRg8Q0X9a3UWZleRYuPVRiGMYho6BYWURYKRERERERERERERERERfLmg7RdeRpoztY31Be6LEtBzF/wvQSMitdtLGNjG+oL3Cyi9DQ3IWQknNERF6vEREREREREREREXnJG1ws4AjgRcHwK9ERFx59GKB5u6lhJ49W0H2BfEeieHtNxSQ+MYPvXbRZa7t56leWC8aamjjGrGxrBwa0NHqC9kRYr1EREREREREREReUMoe1r27HAOHMEXC9Vp4R+rw/u4vhC3ERERERERERERERERERERERERERERERERcStgqzITE8Bo8i9rG+qCHCxuMnG+25tkNpF20UdlgxAnXD9U7m3YWDszgXFrnN0J27uS9JIq0tt1mZDh2QxpHYbYjJ3a1w7LMZ7crEi7yKO1ENe64DmjtNLTlYFr2O7dgCWWBsAbnO62qsVZPyeQ1W5EsvrdrWvltvqbMra2V7Ii7CLkUcdYCesezNrrdkEMd2NWwFiRcybTsDea8qyCqMj9UnUJj1dV2qWADM2vZ2ZdcH0doFkRdxFFWUFfdutISAW6wEhu5n940HcXHyTu4s8lfTqGvIsJHNdqtbcyAt6wBvyuzNvlgssAeydtyCKUIuLhsFU2W8h+S1XANLi5zbm+br9p3fewtY7b9pEREREREREREREREREREREREREREREREREX//2Q==");
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 5px black;
  margin: 30px;
}
/* my Name Animation */
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

.welcome,
.myNameDiv {
  overflow: hidden;
  white-space: nowrap;
}

.welcome {
  animation: showup 100s infinite;
}

.myNameDiv {
  width: 0px;
  padding: 0px;
  animation: reveal 100s infinite;
}

.myNameDiv > span {
  margin-left: -355px;
  animation: slidein 100s infinite;
}
.mobile {
  display: none;
}
@keyframes showup {
  0% {
    opacity: 0;
  }
  2.8% {
    opacity: 1;
  }
  11.4% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  1% {
    margin-left: 0;
  }
  5% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  3.4% {
    opacity: 1;
    width: 40vw;
  }
  4.2% {
    width: 40vw;
  }
  11.4% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 40vw;
  }
}
/* end of my name animation */
.closeIcon {
  position: absolute;
  top: 10px;
  cursor: pointer;
  right: 10px;
}
/* paragraph animation */
* {
  box-sizing: border-box;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.char {
  font-size: 40px;
  height: 40px;
  animation: an 1s ease-out 1 both;
  display: inline-block;
}

@keyframes an {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px)
      rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}
.mylink {
  position: absolute;
  z-index: 150;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: right;
  padding: 0.6rem;
}
.Page > p {
  font-weight: 700;
  text-align: center;
  width: 65%;
  line-height: 35px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgb(235, 232, 232),
    #fff,
    rgb(253, 252, 252)
  );
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  animation: shine 1s linear;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
    background-size: 80%;
  }
  100% {
    background-position-x: 100%;
    background-size: 100%;
  }
}

.resumate:hover {
  border-color: aqua;
  box-shadow: 2px 3px 6px blue;
}

.lists {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  color: white;
}
.lists > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 150px;
}
.lists :hover {
  color: yellow;
}
.HomeTechnologies {
  text-shadow: 1px 1px 4px white;
}
.SubTitle {
  font-family: sans-serif, Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  margin: 20px;
  margin-top: 0px;
}

.SubtitleText {
  background-image: url(https://c.tenor.com/7O_b7XHfOroAAAAM/rainbow-scroll.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 25px;
}
.QuickResume {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  border: 2px solid white;
  min-height: 70vh;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
  background-color: rgb(19, 17, 17);
  border-bottom: none;
}
.QuickResume > h2 {
  font-family: cursive;
  font-style: oblique;
  color: yellow;
  text-align: center;
}
.QuickResume > ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  box-shadow: 2px 2px 5px white;
  flex-direction: column;
  min-height: 30vh;
  font-size: small;
  padding: 5px 30px;
  font-family: sans-serif;
  font-style: italic;
  margin: 20px;
  margin-top: 50px;
}
.QuickResume > ul > li {
  width: 100%;
  line-height: 27px;
  margin: 10px;
}
@media all and (max-width: 700px) {
  .titel {
    color: white;
    height: 10vh;
    width: 90vw;
    margin: 5px;
    font-size: 20px;
    display: none;
  }
  .homeComponent {
    height: fit-content;
  }
  .myImg {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    margin: 30px;
  }

  .lists > * {
    margin: 3px;
  }
  .SubTitles {
    width: 90vw;
    line-height: 2;
  }
  .titelMobile {
    font-size: larger;
    color: yellow;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .welcomeMobile {
    display: block;
    color: gold;
  }
  .AllList {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  .lists {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
  }
  .lists > div {
    height: 25px;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .myImg {
    border: 2px solid aqua;
  }
  .pageMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
